/* Contact Section */
.contactus-section {
    padding: 10rem 6rem;
    background: linear-gradient(to bottom right, #000000, #3f0101);
    color: white;
    text-align: center;
}

.contactus-section h2 {
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
    color: white;

}

/* Main Layout */
.contactus-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

/* Contact Image */
.contactus-image {
    min-width: 270px;
}

.contactus-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* Contact Details */
.contactus-details {
    min-width: 280px;
    text-align: left;
}

.contactus-details h3 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.detail-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.detail-item span {
    font-size: 22px;
}

.detail-item p {
    font-size: 20px;
    color: #e4e4e4;
}

/* Contact Form */
.contactus-form {
    flex: 1;
    min-width: 300px;
    background: transparent;
       border: 2px solid #7a0808;

    padding: 2rem;
    border-radius: 12px;
    backdrop-filter: blur(5px);
}

.contactus-form h3 {
    margin-bottom: 1.5rem;
    font-size: 22px;
}

.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
     background: transparent;
   border: 2px solid #cf1212;
   color: #ffff;
}

.send-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #c31432, #ff4b2b);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 75, 43, 0.5);
}

/* Responsive */
@media (max-width: 768px) {
    .contactus-section {
        padding: 2rem;
    }

    .contactus-container {
        flex-direction: column;
        text-align: center;
    }

    .contactus-image img {
        height: 250px;
    }

    .contactus-details {
        text-align: center;
    }
}