/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Container */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 1000;
}

.navbar.scrolled {
  background: #000; /* solid black */
}


/* Logo */
.navbar-logo {
  font-size: 35px;
  font-weight: 700;
  background: linear-gradient(90deg, #c31432, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s ease;
}

.nav-links li a{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #fa1111;
}

/* Book Now Button */
.book-btn {
  background: linear-gradient(90deg, #c31432, #ff4b2b);
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 75, 43, 0.4);
}

.book-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 75, 43, 0.7);
}
/* Hamburger Menu Icon */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    background: #000;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .book-btn {
    width: 100%;
    text-align: center;
  }
}
