.package-container {
    width: 100%;
    padding: 10rem 6rem;
    background: linear-gradient(to bottom right, #000000, #3f0101);
}

/* HEADER */
.package-header {
    text-align: center;
    margin-bottom: 3rem;
}

.package-header h1 {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
}

.package-header .sub {
    color: #ffffff;
    font-size: 22px;
}

.package-header .title {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;

}

/* GALLERY */
.package-gallery {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.package-gallery img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

/* DESCRIPTION */
.package-description p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #ffffff;
}

/* INFO */
.package-info {
    display: flex;
    gap: 25px;
    margin: 3rem 0;
}

.info-card {
    background: transparent;
    border-radius: 14px;
    border: 2px solid #cf1212;
    padding: 20px 60px;
    width: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    color: #dbdbdb;
    font-size: 20px;


}

.info-card h3 {
    color: #c31432;
    margin-bottom: 1rem;
}

/* SCHEDULE */
.schedule-section h2 {
    color: #c31432;
    margin-bottom: 1rem;
}

.schedule p {
    padding: 6px 0;
    font-size: 20px;
    color: #dbdbdb;
    font-size: 20px;

}

.schedule ul {
    padding: 0 50px;


}

.schedule li {
    padding: 6px 0;
    font-size: 20px;
    color: #dbdbdb;
    font-size: 20px;

}

.schedule-section {
    width: 100%;
    margin-top: 30px;
}

.day-title {
    cursor: pointer;
    background: transparent;
border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #cf1212;
    height: 70px;
}

.day-title:hover {
    background: #000000;
}

.day-details {
    margin: 10px 0 20px 20px;
}

.day-item strong{
    margin: 10px 20px;
}

.toggle-icon {
    font-size: 14px;
    padding-right: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .day-title {
        font-size: 14px;
    }
}

/* BOOKING SECTION */
.booking-section {
    margin-top: 3rem;
    background: linear-gradient(to bottom right, #000000, #3f0101);
   border: 2px solid #cf1212;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.booking-section h2 {
    text-align: center;
    color: #c31432;
    margin-bottom: 1rem;
    font-size: 25px;

}

.booking-form {
    margin-top: 1.5rem;
}

.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 1rem;
}

.form-group input {
    width: 50%;
    padding: 12px;
    background: transparent;
   border: 2px solid #cf1212;
    border-radius: 8px;
    font-size: 20px;
    color: #ffffff;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: transparent;
   border: 2px solid #cf1212;
    min-height: 120px;
    margin-bottom: 1rem;
    font-size: 20px;
        color: #ffffff;

}

/* BUTTON */
.book-now-btn {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background: linear-gradient(90deg, #c31432, #ff4b2b);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.book-now-btn:hover {
    opacity: 0.85;
}

/* Contact Section */
.contact-section {
    text-align: center;
    padding: 2rem 0;
    color: white;

}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 1rem;
    color: #c31432;
}

.contact-section p {
    font-size: 20px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .package-gallery {
        flex-direction: column;
    }

    .package-gallery img {
        width: 100%;
        height: 280px;
    }

    .package-info {
        flex-direction: column;
    }

    .info-card {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group input {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .package-header h1 {
        font-size: 30px;
    }

    .booking-section {
        padding: 1.5rem;
    }
}